##ignorethisfile##
/target/

.classpath
.project
.settings
##filterdatabfile、slnfile##
*.mdb
*.ldb
*.sln
##classfile##
*.com
*.class
*.dll
*.exe
*.o
*.so
#compressionfile
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.via
*.tmp
*.err
#OSgeneratedfiles#
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
