<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.0.30714, Culture=neutral, PublicKeyToken=b32731d11ce58905" />
    <section name="crm-spring-objects" type="Spring.Context.Support.ApplicationContextHandler, Spring.Context"/>
  </configSections>
  <startup>
    <requiredRuntime version="2.0.50727" safemode="true"/>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Framework;D:\U8SOFT\Portal;D:\U8SOFT\Interop;D:\U8SOFT\CRM;D:\U8SOFT\U8M;D:\U8SOFT\CKGL;D:\U8SOFT\JKGL;D:\U8SOFT\EX;D:\U8SOFT\UAP;D:\U8SOFT\UAP\RunTime;D:\U8SOFT\UAP\Infragistics;D:\U8SOFT\EAI;D:\U8SOFT\Workflow;D:\U8SOFT\Workflow\Lib;D:\U8SOFT\Workflow\Common"/>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ConfigFile" value="ClientChannel.config"/>
  </appSettings>
  <crm-spring-objects>
    <object name="AppConfig" singleton="true" class="UFSoft.U8.CRM.Framework.Core.AppConfig, UFSoft.U8.CRM.Framework.Core">
      <property name="ActionStateIsActivated">
        <value>true</value>
      </property>
    </object>
    <object name="ActionStatePoster" class="UFSoft.U8.CRM.Framework.Core.ActionState.FileActionStatePoster, UFSoft.U8.CRM.Framework.Core">
      <property name="statePersistence">
        <ref object="ActionStatePersistence"/>
      </property>
      <property name="fileName">
        <value>ActionStateLog\ActionStates.list</value>
      </property>
    </object>
    <object name="ActionStateReplay" class="UFSoft.U8.CRM.Framework.Core.ActionState.FileActionStateReplay, UFSoft.U8.CRM.Framework.Core">
      <property name="statePersistence">
        <ref object="ActionStatePersistence"/>
      </property>
    </object>
    <object name="ActionStatePersistence" singleton="true" class="UFSoft.U8.CRM.Framework.Core.ActionState.FileActionStatePersistence, UFSoft.U8.CRM.Framework.Core">
      <property name="directory">
        <value>ActionStateLog\ActionStates</value>
      </property>
    </object>
  </crm-spring-objects>
  <log4net>
    <appender name="ADONetAppender" type="log4net.Appender.ADONetAppender">
      <param name="BufferSize" value="100"/>
      <param name="ConnectionType" value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <param name="ConnectionString" value="data source=wcjnoter;initial catalog=ufsystem;integrated security=false;persist security info=True;User ID=sa;Password="/>
      <param name="CommandText" value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)"/>
      <param name="Parameter">
        <param name="ParameterName" value="@log_date"/>
        <param name="DbType" value="DateTime"/>
        <param name="Layout" type="log4net.Layout.RawTimeStampLayout"/>
      </param>
      <param name="Parameter">
        <param name="ParameterName" value="@thread"/>
        <param name="DbType" value="String"/>
        <param name="Size" value="255"/>
        <param name="Layout" type="log4net.Layout.PatternLayout">
          <param name="ConversionPattern" value="%t"/>
        </param>
      </param>
      <param name="Parameter">
        <param name="ParameterName" value="@log_level"/>
        <param name="DbType" value="String"/>
        <param name="Size" value="50"/>
        <param name="Layout" type="log4net.Layout.PatternLayout">
          <param name="ConversionPattern" value="%p"/>
        </param>
      </param>
      <param name="Parameter">
        <param name="ParameterName" value="@logger"/>
        <param name="DbType" value="String"/>
        <param name="Size" value="255"/>
        <param name="Layout" type="log4net.Layout.PatternLayout">
          <param name="ConversionPattern" value="%c"/>
        </param>
      </param>
      <param name="Parameter">
        <param name="ParameterName" value="@message"/>
        <param name="DbType" value="String"/>
        <param name="Size" value="4000"/>
        <param name="Layout" type="log4net.Layout.PatternLayout">
          <param name="ConversionPattern" value="%m"/>
        </param>
      </param>
      <param name="Parameter">
        <param name="ParameterName" value="@exception"/>
        <param name="DbType" value="String"/>
        <param name="Size" value="2000"/>
        <param name="Layout" type="log4net.Layout.ExceptionLayout"/>
      </param>
    </appender>
    <appender name="SMTPAppender" type="log4net.Appender.SMTPAppender">
      <param name="To" value="wcj@ufsoft.com"/>
      <param name="From" value="wcj@ufsoft.com"/>
      <param name="Subject" value="test logging message"/>
      <param name="SMTPHost" value="mail1.ufsoft.com.cn"/>
      <param name="LocationInfo" value="false"/>
      <param name="BufferSize" value="512"/>
      <param name="Lossy" value="true"/>
      <evaluator type="log4net.spi.LevelEvaluator">
        <param name="Threshold" value="WARN"/>
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%n%d [%t] %-5p %c [%x] - %m%n%n%n"/>
      </layout>
    </appender>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="Logs\\EPL.log"/>
      <param name="AppendToFile" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n"/>
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n"/>
      </layout>
    </appender>
    <appender name="RemotingAppender" type="log4net.Appender.RemotingAppender">
      <param name="Sink" value="tcp://localhost:8085/LoggingSink"/>
      <param name="Lossy" value="false"/>
      <param name="BufferSize" value="95"/>
      <param name="OnlyFixPartialEventData" value="true"/>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
  </log4net>
</configuration>